
<div>
  <form>
    <div>
      Titulo:<input type="text" [(ngModel)]="livro.titulo" name="titulo">
    </div>
    <div>
      Data de Publicação<input type="text" [(ngModel)]="livro.data" name="data">
      <p class="card-text"><small class="text-muted">Exemplo: dd/mm/yyyy</small></p>
    </div>
    <div>
      Selecione o Autor:
    <select required [(ngModel)]="livro.autor" name="autor" class="custom-select custom-select-sm">
        <option value='null' selected>-Selecione um valor-</option>
        <option *ngFor="let autor of autores" value="{{autor.id}}">{{autor.nome}}</option>
    </select>
    </div>    
    <div>
      Selecione a Categoria:
    <select [(ngModel)]="livro.categoria" name="categoria" class="custom-select custom-select-sm">
        <option value='null' selected>-Selecione um valor-</option>
        <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.descricao}}</option>
    </select>
    </div>    

    <button type="submit" (click)="salvar()">Inserir</button>
  </form>
</div>